.container {
  margin-left: 30px;
  margin-right: 20px;
}

.ratings {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 10px;
}

.ratings__item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.feedback_good {
  color: rgb(64, 136, 64);
  font-weight: bold;
}

.feedback_neutral {
  color: rgb(228, 228, 21);
  font-weight: bold;
}

.feedback_bad {
  color: rgb(243, 79, 79);
  font-weight: bold;
}